.icon {
  width: 1.2rem;
}
.navbarDropdown {
  background-color: transparent;
}
@media screen and (max-width: 575px) {
  .navbarDropdown {
    background-color: rgba(238, 238, 238, 0.9);
    padding: 8px;
  }
  .navbarDropdown li:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 576px) {
  .navbarDropdown {
    background-color: transparent;
    padding: 0;
  }
  .navbarDropdown li:not(:last-child) {
    margin-bottom: 0;
  }
}
